<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./css/main.css" /> -->
</head>
<body name="body-app">
    <aside name="menu-lateral">
        <ul>
            <li><a href="./"><span name="left"><img src="../imaxenes/home.svg"/></span><span name="right">Home</span></a></li>
            <li><a href="./Contacto"><span name="left"><img src="../imaxenes/Contacto.png" /></span><span name="right">Contacto</span></a></li>
            <li><a href="./Crear"><span name="left"><img src="../imaxenes/Libro.png" ></span><span name="right">Crear</span></a></li>
            <li><a href="./Tiquets"><span name="left"><img src="../imaxenes/Etiqueta.png"/></span><span name="right">Tiquets</span></a></li>
        </ul>
    </aside>
    <main name="main-app">
        <header>
            isto é o header
        </header>
        <section>
            <header><span name="texto-paxina-titulo">Home</span></header>
            <section name="section-imaxes-home">
                <div class="imaxenes-flex">
                    <div>
                        <a href="/invoices"><img src="/imaxenes/invoices.png"/></a>
                    </div>
                    <div>
                        <a href="/cesta"><img src="/imaxenes/cesta.png"/></a>
                    </div>
                    <div>
                        <a href="/clientes"><img src="/imaxenes/customers 1.png"/></a>
                    </div>
                </div>
                <div class="imaxenes-flex">
                    <div>
                        <a href="/graficas"><img src="/imaxenes/graphs.png"/></a>
                    </div>
                    <div>
                        <a href="/axustes"><img src="/imaxenes/settings 1.png"/></a>
                    </div>
                    <div>
                        <a href="/new-product"><img src="/imaxenes/productos.png"/></a>
                    </div>
                </div>
            </section>
        </section>
    </main>
    
    
    <!-- <button id="solicitudeGET">Solicitude GET</button>
    <button id="solicitudePOST">Solicitude POST</button> -->
    
</body>
</html>