<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Configuración del Cliente</title>
    
    <!-- Estilos -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    

    <!-- Scripts -->
    
</head>
<body angel="mi-proyecto">
    <aside angel="menu-lateral">
        <div angel="container-aside">
            <button angel="boton-aside"><img angel="img-aside" src="/imaxenes/circle.svg"></button>
            <button angel="boton-aside"><img angel="img-aside" src="/imaxenes/home.svg"></button>
            <button angel="boton-aside"><img angel="img-aside" src="/imaxenes/profile.svg"></button>
            <button angel="boton-aside"><img angel="img-aside" src="/imaxenes/list.svg"></button>
            <button angel="boton-aside"><img angel="img-aside" src="/imaxenes/tag.svg"></button>
        </div>
    </aside>
    <main angel="contenido-principal">
        <header angel="encabezado">
            <div angel="div-header">
                <h1>Settings Customer</h1>
                <img src="/imaxenes/notifications.png" angel="img-header">
            </div>
        </header>
        <section angel="sections">
            <section angel="section-izda">
                <h1 angel="titulo-superior">Profile</h1>
                <div angel="div-superior">
                    <div angel="img-container">
                        <img angel="img-perfil" src="/imaxenes/group.svg">
                    </div>
                    <div angel="botones-perfil">
                        <button angel="boton-change">Change picture</button>
                        <button angel="boton-delete">Delete picture</button>
                    </div>
                </div>
                <div angel="div-inferior">
                    <div angel="contenedor-superior">
                        <label angel="label-nombre">Nombre<input angel="input-nombre" type="text" placeholder="Escribe tu nombre..."></label>
                        <label angel="label-apellido">Apellido<input angel="input-apellido" type="text" placeholder="Escribe tu apellido..."></label>
                    </div>
                    <div angel="contenedor-inferior">
                        <label>Empresa</label><input angel="input-empresa" type="text" placeholder="Escribe tu empresa...">
                        <label>Mail</label><input angel="input-email" type="text" placeholder="Escribe tu email...">
                        <label>Profesión</label><input angel="input-profesion" type="text" placeholder="Escribe tu profesión...">
                        <label>Rol</label><input angel="input-rol" type="text" placeholder="Escribe tu rol...">
                    </div>
                </div>
            </section>
            <section angel="section-dcha">
                <div angel="img-container-dcha">
                    <img src="imaxenes/Illustration.svg">
                </div>
                <div angel="boton-container">
                    <button angel="boton-send">Send</button>
                </div>
            </section>
        </section>
    </main>
</body>
