<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Page</title>
    <link rel="stylesheet" href="../css/styles_invoice.css" />
    
</head>
<body>
    <aside>
        <img src="../imaxenes/menuImg0.svg" alt="Menu Item 1">
        <a href="./home"><img src="../imaxenes/menuImg1.svg" alt="Menu Item 2"></a>
        <a href="./customers"><img src="../imaxenes/menuImg2.svg" alt="Menu Item 3"></a>
        <a href="./invoices"><img src="../imaxenes/menuImg3.svg" alt="Menu Item 4"></a>
        <a href="./page4.html"><img src="../imaxenes/menuImg4.svg" alt="Menu Item 5"></a>
    </aside>
    <main>
        <header>
            <img src="../imaxenes/Search.svg" alt="Search">
            <div id="divHeader">
                <img src="../imaxenes/Notifications.svg" alt="Notifications">
                <img src="../imaxenes/Profile.svg" alt="Profile">
            </div>
        </header>
        <section class="section-paxinas">
            <section class="main-section">
                <article class="cabecera">
                    <h1>Customer</h1>
                    <button href="./setting2.html">+Add new</button>
                </article>
                <article class="cabecera">
                    <div id = invoice1>
                        
                    </div>
                    <div>
                        <img src="../imaxenes/Group.png" alt="image"> 
                        <!--<img src="" alt="image">-->
                    </div>
                </article>
                <article>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Devon Lane</td>
                                <td>tranthuy.nute@gmail.com</td>
                                <td>Busy</td>
                                <td>Bot Analyst</td>
                            </tr>
                            <tr>
                                <td>Darlene Roberston</td>
                                <td>trungkienspktnd@gmail.com</td>
                                <td>Free</td>
                                <td>Reporter</td>
                            </tr>
                            <tr>
                                <td>Theres Webb</td>
                                <td>thuhang.nute@gamail.com</td>
                                <td>Free</td>
                                <td>Broadcaster</td>
                            </tr>
                            <tr>
                                <td>Coddy Fisher</td>
                                <td>tienlapspktnd@gmail.com</td>
                                <td>Working</td>
                                <td>Sales Manager</td>
                            </tr>
                            <tr>
                                <td>Eleanor Pena</td>
                                <td>vuhaithuongnute@gmail.com</td>
                                <td>On Vacation</td>
                                <td>Analytics Admin</td>
                            </tr>
                            <tr>
                                <td>Savanna Nguyen</td>
                                <td>manhhachkt08@gmail.com</td>
                                <td>Working</td>
                                <td>Marketer</td>
                            </tr>
                            <tr>
                                <td>Marvin McKinney</td>
                                <td>binhan628"@gmail.com</td>
                                <td>Free</td>
                                <td>Team Editor</td>
                            </tr>
                            <tr>
                                <td>Jenny Wilson</td>
                                <td>danghoang87hl@gmail.com</td>
                                <td>Busy</td>
                                <td>Bot Editor</td>
                            </tr>
                            <tr>
                                <td>Jerome Bell</td>
                                <td>nvt.isst.nute@gmail.com</td>
                                <td>Busy</td>
                                <td>Team Owner</td>
                            </tr>
                            <tr>
                                <td>Cameron Williamsom</td>
                                <td>ckctm12"gmail.com</td>
                                <td>Working</td>
                                <td>PPC Expert</td>
                            </tr>
                        </tbody>
                    </table>
                </article>
            </section>
        </section>
    </main>
</body>
</html>