<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño con HTML y CSS</title>
    <link rel="stylesheet" href="../css/paxina.home/index.css">
</head>
<body id="body-sa">
    <div id="contenedor-sa">
        <!-- Div Superior    -->
        <div id="divSuperior-sa">
            <div class="contenedorSearch-sa">
                <input type="text" id="busqueda" placeholder="Search">
                <div id="lupa-sa">
                    <img src="../imaxenes/home/lupa-sa.svg" alt="Lupa">
                </div>
            </div>
            <div class="circuloUsuarioI-sa"></div>
            <div class="circuloUsuarioD-sa"></div>
        </div>

        <!-- Div Lateral Izquierdo -->
        <div id="divLateralIzquierdo-sa">
            <div><a href="./home"><img src="../imaxenes/home/1-sa.png" alt="Men 1"></a></div>
            <div><img src="../imaxenes/home/2-sa.png" alt="Men 2"></div>
            <div><img src="../imaxenes/home/3-sa.png" alt="Men 3"></div>
            <div><img src="../imaxenes/home/4-sa.png" alt="Men 4"></div>
        </div>

        <!-- Div Inferior Derecho -->
        <div id="divInferiorDerecho-sa">
            <div class="paraHome-sa">Home</div>
            <div class="six-buttons-sa"><a href="/invoices"><img src="../imaxenes/home/11-sa.svg" alt="Men 1"></a></div>
            <div class="six-buttons-sa"><a href="/clientes"><img src="../imaxenes/home/22-sa.svg" alt="Men 2"></a></div>
            <div class="six-buttons-sa"><a href="/cesta"><img src="../imaxenes/home/33-sa.svg" alt="Men 3"></a></div>
            <div class="six-buttons-sa"><a href="/productos"><img src="../imaxenes/home/44-sa.svg" alt="Men 4"></a></div>
            <div class="six-buttons-sa"><a href="/graficas"><img src="../imaxenes/home/55-sa.svg" alt="Men 5"></a></div>
            <div class="six-buttons-sa"><a href="/axustes"><img src="../imaxenes/home/66-sa.svg" alt="Men 6"></a></div>
        </div>
    </div>
</body>
</html>
