<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/main.css" />
     <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script defer src="./javascript/bundle.js"></script>
    <link href="./css/styles.css" rel="stylesheet">
</head>
<body>
<button>Invoices</button>
<button>Draft</button>
<button>Recurring Invoices</button>

<aside></aside>
<img src="../imaxenes/invoices/Invoice4menu.svg"  
class="menu-gastos-fran"
alt="4 menus"
/>
<img src="../imaxenes/invoices/GroupTablas.svg"
class="grupo-tablas-fran"
alt="imaxen datos tablas"
/>
<img src="../imaxenes/invoices/GroupINV3.svg"
class="grupo-tablas-fran"
alt="New Invoce"
/>
<aside></aside>
<button><a href="../views/tablasTable.html">Index.html en src views</a></button>
<button><a href="../views/grid.html">Grid</a></button>

</body>
</html>
