<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoices Page</title>
    <link rel="stylesheet" href="../css/styles_invoice.css" />
    
</head>
<body>
    <aside>
        <img src="../imaxenes/menuImg0.svg" alt="Menu Item 1">
        <a href="./home"><img src="../imaxenes/menuImg1.svg" alt="Menu Item 2"></a>
        <a href="./customers"><img src="../imaxenes/menuImg2.svg" alt="Menu Item 3"></a>
        <a href="./invoices"><img src="../imaxenes/menuImg3.svg" alt="Menu Item 4"></a>
        <a href="./page5.html"><img src="../imaxenes/menuImg4.svg" alt="Menu Item 5"></a>
    </aside>
    <main>
        <header>
            <img src="../imaxenes/Search.svg" alt="Search">
            <div id="divHeader">
                <img src="../imaxenes/Notifications.svg" alt="Notifications">
                <img src="../imaxenes/Profile.svg" alt="Profile">
            </div>
        </header>
        <section class="section-paxinas">
            <section class="main-section">
                <article class="cabecera">
                    <h1>New Invoices</h1>
                    <div>
                        <input type="checkbox"> Make recurring
                        <button class="add-btn">Cancel</button>
                        <button class="add-btn">Done</button>
                    </div>
                </article>
                
                
                <article>
                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Services/Product</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Unit</th>
                                <th>Vat %</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>.Net Consultancy Services</td>
                                <td>49</td>
                                <td>25</td>
                                <td>Hour(s)</td>
                                <td>0</td>
                                <td>1.225</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>.Net Consultancy Services</td>
                                <td>25</td>
                                <td>20</td>
                                <td>Hour(s)</td>
                                <td>0</td>
                                <td>45</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>.Net Consultancy Services</td>
                                <td>17</td>
                                <td>32</td>
                                <td>Hour(s)</td>
                                <td>0</td>
                                <td>544</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>.Net Consultancy Services</td>
                                <td>50</td>
                                <td>15</td>
                                <td>Hour(s)</td>
                                <td>0</td>
                                <td>750</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </article>
                <article class="cabecera">
                    <div id= "insertfiles">
                        Drag and drop files or <button class="add-btn">Browse</button>
                    </div>
                    
                </article>
            </section>   
        </section>
    </main>
</body>
</html>