@import url("./paxina.ximnaxio/index.css");
@import url("./paxina.logueo/index.css");
/*TODOS*/
@import url("./paxina.app/index.css");
/*IMPORT SALVADOR*/
@import url("./paxina.new_product/index.css");
@import url("./paxina.home/index.css");
/*IMPORT ÁNGEL*/
@import url("./paxina.axustes/index.css");
/*IMPORT VANESSA*/
@import url("./paxina.customers/index.css");

@import url("./paxina.new_product_adr/index.css");

.miniatura-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  }
  